<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>Tests</span>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_test">Nouveau test</button>
    </h2>

    <div id="container_test" data-controller="drag" data-drag-url="/functionnal_tests/:id/move">
      <%= render @tests %>
    </div>

    <!-- Modal -->
    <%= simple_form_for @test, remote: true, wrapper: :horizontal_form do |f| %>
      <div class="modal fade" id="new_test" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Créer un nouveau test</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= f.input :tracker, collection: FunctionnalTest.trackers.keys, include_blank: false %>
              <%= f.input :title %>
              <%= f.input :tracker_number %>
              <%= f.input :reference %>
              <%= f.input :url_link %>
              <%= f.input :position %>
              <%= f.input :description %>
            </div>
            <div class="modal-footer">
              <%= f.button :submit, "Créer", class: "btn-primary" %>
            </div>
          </div>
        </div>
      Ò</div>
    <% end %>
    <!-- End Modal -->

  </div>
</div>
