<%= simple_form_for @scenario do |f| %>
  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :ticket_id, as: :hidden %>
  </div>



  <h4>Attendus</h4>

  <div data-controller="nested-form" >

    <template data-target="nested-form.template">
      <%= f.simple_fields_for :results, Result.new, child_index: 'NEW_RECORD' do |r| %>
        <%= render "result", form: r %>
      <% end %>
    </template>

    <%= f.simple_fields_for :results do |r| %>
      <%= render "result", form: r %>
    <% end %>

    <div class="mb-3" data-target="nested-form.links">
      <%= link_to "Ajouter un attendu", "#", class: "btn btn-outline-primary", data: { action: "click->nested-form#add_association" } %>
    </div>

  </div>







  <div class="form-actions">
    <%= f.button :submit, "Mettre à jour", class: "btn btn-primary" %>
  </div>
<% end %>
