<div class="row to_delete mb-30">

  <div class="col-sm-4 mb-3 mb-md-0" id="scenario_<%= scenario.id %>">
    <p><%= scenario.description %></p>
    <p class="delete">
      <span>
        <%= link_to edit_scenario_path(scenario, ticket_id: @ticket.id), remote: true do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </span>
      <span>
        <%= link_to scenario_path(scenario, ticket_id: @ticket.id), method: :delete, data: {confirm: "Etes-vous sur", remote: true } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </span>
    </p>
  </div>

  <div class="col-sm-8">
    <% scenario.results.each do |result| %>
      <div class="row">
        <div class="col-sm-8">
          <%= result.description %>
        </div>
        <div class="col-sm-2">
          <%= result.dev %>
        </div>
        <div class="col-sm-2">
          <%= result.staging %>
        </div>
      </div>
    <% end %>
  </div>

</div>
