<!-- Default box -->
<div class="card to_delete" data-id="<%= paragraph.id %>" id="paragraph_<%= paragraph.id %>" >

  <div class="card-header">
    <i class="fas fa-grip-vertical grip text-secondary float-left"></i>
    <b><%= paragraph.title %></b>
    <span>
      <%= link_to edit_paragraph_path(paragraph.id), remote: true, class: "btn btn-tool float-right" do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </span>
    <span class="delete">
      <%= link_to paragraph_path(paragraph.id), method: :delete, data: {confirm: "Etes-vous sur", remote: true }, class: "btn btn-tool float-right" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </span>
  </div>

  <div class="card-body">
    <%= paragraph.content %>
    <% paragraph.sub_paragraphs.each do |sub_para| %>
      <div class="card">
        <div class="card-header">
          <b><%= sub_para.title %></b>
        </div>
        <div class="card-body">
        <%= sub_para.content %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- /.card-body -->

</div>
<!-- /.card -->
