<h1>Création d'un paragraphe</h1>

<%= simple_form_for @paragraph, wrapper: :horizontal_form do |f| %>


  <%= f.input :title %>
  <%= f.input :content, as: :rich_text_area, placeholder: 'Text goes here', class: 'form-control' %>
  <%= f.input :position %>

  <%= f.button :submit, "Créer le paragraphe", class: "btn-primary" %>

<% end %>
