<!DOCTYPE html>
<html>
  <head>
    <title>Projectsmanagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "base/header" %>
      <%= render "base/sidebar" %>
      <div class="content-wrapper">
        <%= toastr_flash %>
        <%= yield %>
      </div>
      <%= render "base/footer" %>
      <%= render "base/control_sidebar" %>
    </div>
  </body>
</html>
