<!DOCTYPE html>
<html>
  <head>
    <title>Projectsmanagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/navigation' %>

  <body class="bg-light">
    <div class="container-fluid" id="mt100">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="card mt-5">
            <%= toastr_flash %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
